<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group: <%=group.name%></title>
</head>
<body>
    <h1><%=group.name%></h1>
    <h2>Balance: $<%=group.balance%></h2>
    
    <p2>Group Chat:</p2>
</body>
</html>