<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>INVEST</title>
</head>
<body>
    <h1>Market Today</h1>
    <nav class= "topnav">
        <a class= 'nav' href = "/group">VIEW GROUPS</a>
        <a class= 'nav' href = "/auth/signup">CREATE NEW USER</a>
        <a class='nav' href = "/auth/login">LOGIN</a>
    </nav>
    <div class='new'>
        <form action="/invest/add/new" method="POST">
        Name: <input type="text" name="name" /><br/>
        Price: <input type="text" name="price" /><br/>
        Quantity: <input type="text" name="quantity"/>
        <input type="submit" name="" value="Create Listing"/>
        </form>
    </div>
    
    <ul class="listing">
        <% for(let i=0;i<stock.length;i++){%>
        <li>
            <a class="name" href = "/invest/home/<%=stock[i].id%>"><%= stock[i].name %></a><br/>
            
        <% } %>
        </li>
    </ul>

</body>
</html>