<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title><%=stock.name%>></title>
</head>
<body>
    <h1><%=stock.name%></h1>
    <nav class= "topnav">
        <a class= 'nav' href = "/group">VIEW GROUPS</a>
        <a class= 'nav' href = "/auth/signup">CREATE NEW USER</a>
        <a class='nav' href = "/auth/login">LOGIN</a>
    </nav>
    <p1>
        Posted At: <%=stock.createdAt%> <br/>
        At the price of: $<%=stock.price%>.
    </p1> <br/>
    <form action="/user/login" method="GET">
        <input type="submit" value="PURCHASE"/>
    </form>
    
</body>
</html>