<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/css/main.css" />
    <title>User LogIn</title>
</head>
<body>
    <h1>LOGIN</h1>

    <div id = "mainlogin">
        
        <form action="/user/login" method="POST">
            Username: <input type="text" name ="username"  /><br/>
            Password: <input type="text" name= "password"  /><br/>
            <input type="submit" name="" value="Login"/>
        </form>
    </div>
        
        

</body>
</html>