<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/css/main.css" />
    <title>Welcome</title>
</head>
<body>
    <h1>WELCOME TEST</h1>
    <div id='mainlogin'>
    <p1>Already have an account? Log in</p1>
    <form action="/user/login" method="GET">
        <input type="submit" value="LOGIN"/>
    </form>
    </div>
    <div id='mainsignup'>
    <p2>No account? Sign Up for free</p2>
    <form action="/user/signup" method="GET">
        <input type="submit" value="SIGNUP"/>
    </form>
    </div>
</body>
</html>