<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/css/newsfeed.css" />
    <title>NewsFeed</title>
</head>
<body>
    <h1>Whats going on today?</h1>
    <nav>
        <ul>
            <p1><%=id%></p1>
            <li><a href="/user/profile/<%=id%>">Profile</a></li>
            <li><a href="/user/group/:id">Group Page</a></li>
            <li><a href="/invest/home">Invest</a></li>
        </ul>

    </nav>
</body>
</html>