<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ='stylesheet' href="/css/profile.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Add a Group</title>
</head>
<body>
    <h1>Add a New Group</h1>
    <nav class= "topnav">
        <a class= 'nav' href = "/group">VIEW GROUPS</a>
        <a class= 'nav' href = "/auth/signup">CREATE NEW USER</a>
        <a class='nav' href = "/auth/login">LOGIN</a>
    </nav>
    <nav class='newgroup'>
        <form action="/group/create/new" method="POST">
        Name: <input type="text" name="name" /><br/>
        
        <input type="submit" name="" value="Create Group"/>
        </form>
        </nav>
    
</body>
</html>