<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Group</title>
</head>
<body>
    <h1>Add a New Group</h1>
    <nav class='newgroup'>
        <form action="/group/create/new" method="POST">
        Name: <input type="text" name="name" /><br/>
        
        <input type="submit" name="" value="Create Group"/>
        </form>
        </nav>
    
</body>
</html>