body{
    background-image: url("https://image.freepik.com/free-vector/green-arrow-light-abstract-technology-background_42077-2563.jpg");
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 25% 20% 10% 20% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#mainlogin{
    display: grid;
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    vertical-align:middle;
    font-size: 30px;
    color: white;
}
#mainsignup{
    display: grid;
    grid-column:4;
    grid-row:3;
    font-size: 30px;
    color: white;
    text-align: center;
}
input[type=submit]{
    width: 100px;
    height: 200px;
}
